.overlay {
      background-color: rgba(0, 0, 0, .3);
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
}
h1 {
      color: brown !important;
      margin: 0 auto;
      max-width: 1090px;
      padding: 16px;
    }
h3 {
  font-size: 60px;
}
    #container button {
      -moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
          -webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
          box-shadow:inset 0px 1px 0px 0px #f7c5c0;
          background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
          background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
          background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
          background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
          background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
          background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
          background-color:#fc8d83;
          -moz-border-radius:6px;
          -webkit-border-radius:6px;
          border-radius:6px;
          border:1px solid #d83526;
          display:inline-block;
          cursor:pointer;
          color:#ffffff;
          font-family:Arial;
          font-size:15px;
          font-weight:bold;
          padding:6px 24px;
          text-decoration:none;
          text-shadow:0px 1px 0px #b23e35;
          margin-left: 256px;
    }
    footer strong {
      background-image: linear-gradient(to right,red, orange 50%, pink);
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
    footer button {
        border-radius: 50px;
        padding: 0px;
        background-color:#161b21;
        width: 40px;
        height: 40px;
          color: #161b21;
        border: 1px solid white;
        transition: background 1s,color 1s; 
    }
    
    footer button i {
        color: white;
    }
    footer button:nth-of-type(1):hover {
        background-color: rgb(66, 103, 178);
        color: white;
        cursor: pointer;
        border: none;
    }
    
    footer button:nth-of-type(2):hover {
        background-color: rgb(29, 161, 242);
        color: white;
        cursor: pointer;
        border: none;
    }
    footer button:nth-of-type(3):hover {
        background-color: #507fa4;
        color: white;
          cursor: pointer;
          border: none;
    }
    footer button:focus {
    outline: none !important;
    }
    footer button:active {
    background-color: #FF9800 !important;
    }
    @media screen and (max-width:480px ) {
      h1 {
        margin: 0 auto;
      }
      
      #container button {
        margin-left: 26px;
      }
    }