
.container img {
    min-width: 0px !important;
    width: 120px !important;
    min-width: 0 !important;
    height: 70px !important;
    position: absolute;
    left:10px !important;
    top:0px;
    border:4px solid orange;
    border-radius: 10px;
    margin: 8px;
    
} 
.nav-item  {
    font-size: 26px;
    font-weight: bold;
    margin: 10px;
} 
.animated bounce {
    color: brown !important;
}