.card {
    border: 2px solid black;
    text-align: center;
    height: 510px  !important; 
    width: 320px !important;
    margin: 16px;
  }
  img {
      padding: 16px;
  }
  h5 {
    background-image: linear-gradient(to right,grey, pink);
    border-radius: 4px;
  }
  footer strong {
    background-image: linear-gradient(to right,red, orange 50%, pink);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .btn {
    min-height: 0px !important;
    height: 40px !important;
    min-width: 0px !important;
    width: 100px !important;
  }
  
  .portfolio-item {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
   
  }
  footer button {
    border-radius: 50px;
    padding: 0px;
    background-color:#161b21;
    width: 40px;
    height: 40px;
    color: #161b21;
    border: 1px solid white;
    transition: background 1s,color 1s; 
  }
  
  footer button i {
    color: white;
  }
  footer button:nth-of-type(1):hover {
    background-color: rgb(66, 103, 178);
    color: white;
    cursor: pointer;
    border: none;
  }
  
  footer button:nth-of-type(2):hover {
    background-color: rgb(29, 161, 242);
    color: white;
    cursor: pointer;
    border: none;
  }
  footer button:nth-of-type(3):hover {
    background-color: #507fa4;
    color: white;
      cursor: pointer;
      border: none;
  }
  footer button:focus {
  outline: none !important;
  }
  footer button:active {
  background-color: #FF9800 !important;
  }
  
  @media screen and (max-width: 400px) {
    .card {
      border: 2px solid black;
      text-align: center;
      height: 510px  !important; 
      width: 320px !important;
      margin-left: 10px;
    } }
    